@import url(./fonts.css);
body {
  font-family: "Outfit";
}

main {
  background-color: black;
  padding: 2em;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  gap: 1em;
}

img {
  width: 100%;
  height: auto;
}

.block {
  height: 4rem;
  width: 4rem;
}

.red-block {
  background-color: red;
}

.yellow-block {
  background-color: yellow;
}

.green-block {
  background-color: green;
}
